.appoinment-box {
  background-image: url("../../assets/images/appoinmentDoctor.png");
  background-repeat: no-repeat;
  padding-top: 106px;
  background-size: contain;
}
.appoinment-box form {
  position: relative;
}
.appoinment-box form::after {
  position: absolute;
  content: "";
  height: 18px;
  width: 97%;
  background-color: #00b3ad;
  top: -18px;
  right: 0;
}
